@use '_reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

$themecolor-1: #130C12;
$themecolor-2: #F8F1EF;
$themecolor-3: #CB907C;
$themecolor-4: #9A564C;
$themecolor-5: #6B2B17;
$themecolor-6: #260B0B;
$themecolor-7: #C1A480;
$themecolor-8: #743a36;

body {
    font-family: 'urbanist';
    background-color: $themecolor-6;

    h1 {
        padding: 32px 0;
        text-align: center;
        font-size: 32px;
        color: $themecolor-7;
    }

    .box1 {
        margin: 1.5rem;
    }

    .info {
        background-color: $themecolor-7;
        margin: 0 0 1.5rem 0;
        display: flex;
        padding: 24px;

        .tel {
            margin: 0 0 0 48px;
            font-size: 18px
        }

        i {
            margin: 0 16px;
            font-size: 18px;
        }

        h2 {
            font-size: 18px
        }

        p {
            margin: 0 0 0 16px;
            font-size: 18px
        }

    }

    .info2 {
        @extend .info;
        padding: 24px 0 24px 0;

        h3 {
            margin: 0 36px;
            font-size: 18px;
        }

        i {
            font-size: 22px;
            margin: 0 8px 0 0;
        }
    }
}

nav {
    display: flex;
    flex-direction: column;
    height: 54px;
    transition: 0.5s ease-in-out all;
    overflow: hidden;
    position: absolute;

    &.active {
        background-color: #C5A364;
    }

    &.active {
        height: 100vh;
        z-index: 1;
    }

    #menu-icon3 {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 35px;
        cursor: pointer;
        color: #FAF8EC;

        .fa-bars {
            display: block;
            font-size: 22px;
            color: #FAF8EC;
        }

        .fa-xmark {
            display: none;
            font-size: 22px;
            color: black;
        }

        &.active {

            .fa-bars {
                display: none;
            }

            .fa-xmark {
                display: block;
            }
        }
    }

    #menu3 {
        display: flex;
        flex-direction: column;
        list-style: none;
        transform: translateX(-300px);
        transition: 0.3s ease-in all;

        a {
            text-decoration: none;
            color: black;

            li {
                padding: 8px 32px;
                width: 150px;
                cursor: pointer;
                transition: 0.3s all ease-in;
                text-decoration: none;

                &:hover {
                    background-color: #DBC8A7;
                }

            }
        }

        &.active {
            transform: translateX(0px);
            background-color: #C5A364;
        }

    }

    .logo-container {
        position: absolute;
        justify-content: center;
        align-items: center;
        margin-left: 160px;
        margin-top: 25px;

        .logo {
            img {
                z-index: 1;
                width: 75px;
                margin-top: 50px;
            }
        }
    }
}

.box2 {
    text-align: center;
    margin: 1.5rem;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: $themecolor-1;

    .footer-container {
        width: 100%;
        display: flex;
        flex-direction: column;

        .about {
            width: 100%;

            h4 {
                margin-bottom: 30px;
                margin-top: 20px;
                font-weight: 700;
                color: $themecolor-7;
                font-size: 20px;
                justify-content: center;
                text-align: center;
            }
        }

        .content {
            text-align: center;
            justify-content: center;

            p {
                color: #FAF8EC;
                margin-bottom: 30px;
                font-size: 14px;
                justify-content: center;
                font-size: 14px;
                line-height: 25px;
            }

            .icons {
                margin-bottom: 20px;

                .fa {
                    color: #FAF8EC;
                    margin: 0 13px;
                    cursor: pointer;
                    padding: 10px 0;

                    .fa-heart-o {
                        color: #FAF8EC;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:844px) {
    nav {
        height: fit-content;
        width: 100%;
        position: relative;

        #menu-icon3 {
            display: none;
        }

        #menu3 {
            transform: translateX(0px);
            flex-direction: row;
            justify-content: right;
            padding: 32px 64px;
            margin-right: 0;
            margin-top: 30px;

            a {
                text-decoration: none;
                color: #FAF8EC;

               

                li {
                    text-align: center;
                    justify-content: space-between;
                    padding: 0px 0px;
                    width: 150px;

                    &:hover {
                        background-color: transparent;
                        color: #C5A364;
                        font-weight: 600;
                    }
                }
            }
        }

        .logo-container {
            position: absolute;
            justify-content: center;
            align-items: center;
            margin-left: 100px;
            margin-top: 25px;

            .logo {
                z-index: 1;
                width: 120px;
                margin-top: 10px;
            }
        }
    }

    body {
        .box-container {
            display: flex;
            justify-content: center;

            .box1 {
                width: 30%;
            }

        }



        .footer {

            .footer-container {
                width: 100%;
                // margin: 0 auto;
                flex-direction: row;
                justify-content: center;

                .about {
                    width: 15%;
                    margin: auto 0;
                }

                .content {
                    text-align: left;

                    .icons {
                        margin-left: -8px;

                        .fa {
                            padding: 10px 0;
                        }
                    }
                }
            }
        }
    }

}

